* {
    box-sizing: border-box;
}
.edge {
    stroke:blueviolet;
    stroke-width: 4;
}

.circle {
    stroke: black;
    stroke-width: 1;
}

/*.circle:hover {
    fill: yellow;
    cursor: pointer;
}*/

svg {
    background-color: gainsboro;
    border: 3px solid silver;
}

#addVertexBtn {
    margin-right: 10px;
}

.card-min-width-800 {
    width: 850px;
}

.card-min-width-500 {
    width: 550px;
}
h1 {
    text-align: center;
}

#tooltip {
    transition: opacity 0.2s;
    border-radius: 5px;
    text-align: center;
    color: #333;
    font-size: 14px;
    max-width: 200px; /* Prevents the tooltip from being too wide */
    z-index: 10; /* Ensure it's above other elements */
}

#degree-distribution-card {
    width: 100%;
    justify-content: center;
}

.slider-controls {
    margin-top: 20px;
}

.slider-controls label {
    display: block;
}

input[type="range"] {
    width: 100%;
}

@media (max-width: 991px) { /* Adjust based on Bootstrap's breakpoints if needed */
    .mb-4-custom {
        margin-bottom: 1.5rem !important; /* Increase spacing between cards on smaller screens */
    }
}